{% extends "posts/base.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Value</th>
        </tr>
        {% for share in shares %}
        <tr>
            <td>{{ share.stock.ticker }}</td>
            <td>${{ share.stock.get_price }}</td>
            <td id="{{ share.stock.ticker }}-q">
                <span style="display: inline;">{{ share.quantity }}</span>
                <form action="{% url 'share_update' share.stock.ticker %}" id="{{ share.stock.ticker }}-edit" style="display: none;" method="post">
                    {% csrf_token %}
                    <input type="text" name="quantity" value="{{ share.quantity }}">
                </form>
            </td>
            <td>${{ share.get_value }}</td>
            <td id="{{ share.stock.ticker }}-b">
                <button style="display: inline;" onclick="showEdit(&quot;{{ share.stock.ticker }}&quot;)">Edit</button>
                <button style="display: none;" onclick="closeEdit(&quot;{{ share.stock.ticker }}&quot;)">Cancel</button>
                <button style="display: none;" type="submit" form="{{ share.stock.ticker }}-edit">Save</button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <form action="{% url 'share_create' %}" method="post">
        {% csrf_token %}
        <br>
        <label>Ticker<input name="ticker" type="text"></label>
        <br>
        <label>Quantity<input name="quantity" type="text"></label>
        <button type="submit">Add Stock</button>
    </form>

    {% load static %}
        <script src="{% static 'posts/portfolio.js' %}"></script>
{% endblock %}