{% extends "posts/base.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Value</th>
        </tr>
        {% for share in shares %}
        <tr>
            <th>{{ share.stock.ticker }}</th>
            <th>${{ share.stock.get_price }}</th>
            <th>{{ share.quantity}}</th>
            <th>${{ share.get_value }}</th>
        </tr>
        {% endfor %}
    </table>

    <form action="{% url 'share_create' %}" method="post">
        {% csrf_token %}
        <br>
        <label>Ticker<input name="ticker" type="text"></label>
        <br>
        <label>Quantity<input name="quantity" type="text"></label>
        <button type="submit">Add Stock</button>
    </form>

{% endblock %}