{% extends "posts/base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <pre>{{ object.content }}</pre>
    <p><a href="{% url 'profile' post.uploader %}">{{ post.uploader }}</a></p>
    {% if user.is_authenticated %}
        <p><a href="{% url 'post_update' post.pk %}">Edit Post</a></p>
        <p><a href="{% url 'post_delete' post.pk %}">Delete</a></p>
        <p><a href="{% url 'community' post.community.slug %}">b/{{ post.community }}</a></p>
    {% endif %}

    <form action="{% url 'comment_create' post.pk %}" method="post" id="comment-form">
        {% csrf_token %}
        <textarea name="content"></textarea>
        <button type="submit">Save</button>
    </form>

    {% for comment in post.comments.all %}
        <p>{{ comment.content }} - {{ comment.uploader }}</p>
        {% if comment.uploader == request.user %}
            <button onclick="toggleEdit({{ comment.pk }})">Edit</button>
            <form id="comment-{{ comment.pk }}" action="{% url 'comment_update' post.pk comment.pk %}" method="post" style="display: none">
                {% csrf_token %}
                <textarea name="content">{{ comment.content }}</textarea>
                <button type="submit">Save</button>
            </form>

            <form action="{% url 'comment_delete' post.pk comment.pk %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        {% endif %}
    {% empty %}
        <p>No comments</p>
    {% endfor %}

    {% load static %}
    <script src="{% static 'posts/post.js' %}"></script>
{% endblock %}
